<a class="navbar-brand" routerLink="/">
    <img [src]="logoUrl" style="width:40px" />{{title}}
  </a>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/listPlans">
            
            List Plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/planForm">
            
            Add New Plan</a>
        </li>
      </ul>
    
</nav>
<router-outlet></router-outlet>